# Terraform
.terraform/
*.tfstate
*.tfstate.backup
*.tfplan
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Keep lock files
!.terraform.lock.hcl

# Sensitive variables
*.auto.tfvars
